{"filter":false,"title":".env.example","tooltip":"/kenmu_03/cms/.env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":485,"scrollleft":0,"selection":{"start":{"row":46,"column":0},"end":{"row":46,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1649674954520,"hash":"4dccf7b620cb1bd15f5d109fd8c770602f7d883b"}